<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

            <!-- Stylesheet -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

        <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
    <title>Document</title>
</head>


<body>
    <div class="sidebar">
        <img class="logo" src="images/logoheader.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="#">
                <li class="selected">
                    <div href="#" class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="menu">
                <li>
                    <div class="sidebarText">OUR MENU</div>
                </li>
            </a>
            <a href="reservations">
                <li>
                    <div class="sidebarText">RESERVATIONS</div>
                </li>
            </a>
            <a href="order">
                <li>
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="rewards">
                <li>
                    <div class="sidebarSpecials">REWARDS</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="main-container">
        <img class="mainmenu-image" src="images/topImage.jpg">
        <div class="main-topcontent">
            <h1 style="font-size: 45px">Welcome to Altitude</h1>
            <h5 style="color: rgb(179, 151, 118);">Prime Steakhouse & Win Bar</h5>
            <hr class="hrContent">
            <p class="main-topcontentText">A menu inspired by culinary influence and seasonal<br>
                ingredients that you can only experience at Altitude's Steakhouse.</p>

            <div class="main-imagecontainer">
                <img class="mainmenu-sideImage1 shadow" src="images/main-food1.jpg">
                <img class="mainmenu-sideImage2 shadow" src="images/main-food2.jpg">
                <img class="mainmenu-sideImage4 shadow" src="images/main-food4.jpg">
            </div>
            <div class="main-experience">
                <h1 style="font-size: 45px">The Altitude Experience</h1>
                <hr class="hrContent">
                <p class="main-experienceText">The luxurious experience of dining at Altitude begins before you even
                    enter the restaurant. Guests are greeted curbside by our valet, and a walk down a red carpet leads
                    into the restaurant. Once inside, lavish six-foot chandeliers draw the eye towards the ceiling, and
                    the leather-embossed walls display classically inspired artwork and black and white family
                    photographs. Marble embossed floors provide an elegant touch to the decor.</p>
            </div>
            <div class="main-OurMenuBackground">
                <div class="main-OurMenu text-center">
                    <h1 class="text-center">View Our Menu</h1>
                    <button type="button" class="btn btn-outline-light main-ViewMenuBtn">Menu</button>
                </div>
            </div>
            <br>
        </div>
    </div>


</body>
<script src="js/index.js"></script>

</html>