<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <title>Log In</title>
</head>

<div class="sidebar">
    <img class="Alogo" src="images/Alogogradient.png">
    <img class="logo" src="images/Textlogo.png">
    <hr class="hrColor">
    <ul class="menubar text-center">
        <a href="/">
            <li>
                <div class="sidebarText">HOME</div>
            </li>
        </a>
        <a href="menu">
            <li class="selected">
                <div class="sidebarText selected">OUR MENU</div>
            </li>
        </a>
        <a href="reservations">
            <li>
                <div class="sidebarText">RESERVATIONS</div>
            </li>
        </a>
        <a href="order">
            <li>
                <div class="sidebarOrderOnline">ORDER ONLINE</div>
            </li>
        </a>
        <a href="signup">
            <li>
                <div class="sidebarSpecials">Sign Up</div>
            </li>
        </a>
        <a href="login">
            <li>
                <div class="sidebarSpecials">Log In</div>
            </li>
        </a>
    </ul>
</div>

    
<div class="main-container">
    <img class="mainmenu-image" src="images/topImage.jpg">
    <div class="main-topcontent">
        <h1 style="font-size: 45px">Log In</h1>




<!-- Form Start -->
<body>
 
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2></h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" id="loginBtn" class="btn btn-default">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">here</a></p>
      </div>
    </div>
  </div>
  <!-- end form -->

  <div class="main-OurMenuBackground">
    <div class="main-OurMenu text-center">
        <h1 class="text-center">View Our Menu</h1>
        <button type="button" class="btn btn-outline-light main-ViewMenuBtn">Menu</button>
    </div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>

</body>

</html>
