<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <title>Document</title>
</head>


<body>
    <div class="sidebar">
        <img class="logo" src="images/logoheader.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="/">
                <li>
                    <div class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="#">
                <li class="selected">
                    <div class="sidebarText selected">OUR MENU</div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="sidebarText">RESERVATIONS</div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="sidebarSpecials">REWARDS</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="main-container">
        <img class="menu-topimage" src="images/menu-top1.jpg">
        <div class="main-topcontent">
            <h1>Chef's Table</h1>
            <br>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item1</h5>
                                Description
                            </div>
                        </li>
                        <li class="media my-4 limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item2</h5>
                                Description
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item3</h5>
                                Description
                            </div>
                        </li>
                        <li class="media my-4 limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item4</h5>
                                Description
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <h1>Starters</h1>
            <br>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item1</h5>
                                Description
                            </div>
                        </li>
                        <li class="media my-4 limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item2</h5>
                                Description
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item3</h5>
                                Description
                            </div>
                        </li>
                        <li class="media my-4 limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Item4</h5>
                                Description
                            </div>
                        </li>
                    </ul>

                </div>



</body>
<script src="js/index.js"></script>

</html>