<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <title>Document</title>
</head>


<body>
    <div class="sidebar">
        <img class="logo" src="images/logoheader.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="/">
                <li>
                    <div class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="#">
                <li class="selected">
                    <div class="sidebarText selected">OUR MENU</div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="sidebarText">RESERVATIONS</div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="signup.html">
                <li>
                    <div class="sidebarSpecials">Sign Up</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="main-container">
        <img class="menu-topimage" src="images/menu-top1.jpg">
        <div class="main-topcontent">
            <div id="test"></div>
            <h1>Chef's Table</h1>
            <hr class="menu-hr">
            <br>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body featured">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <hr>
            <h1>Starters</h1>
            <hr class="menu-hr">
            <br>
            <div class="row">
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li class="media limenu">
                            <img src="" class="mr-3" alt="">
                            <div class="media-body starters">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <h1>Salads & Soups</h1>
            <hr class="menu-hr">
            <br>
            <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="media limenu">
                                <img src="" class="mr-3" alt="">
                                <div class="media-body salads-soups">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            <hr>
            <h1>Signature Steaks</h1>
            <hr class="menu-hr">
            <br>
            <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li class="media limenu">
                                <img src="" class="mr-3" alt="">
                                <div class="media-body steaks">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <h1>Sides</h1>
                <hr class="menu-hr">
                <br>
                <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled">
                                <li class="media limenu">
                                    <img src="" class="mr-3" alt="">
                                    <div class="media-body sides">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <h1>Desserts</h1>
                    <hr class="menu-hr">
                    <br>
                    <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li class="media limenu">
                                        <img src="" class="mr-3" alt="">
                                        <div class="media-body desserts">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>





</body>
<script>
    function runTableQuery() {
        // The AJAX function uses the URL of our API to GET the data associated with it (initially set to localhost)
        $.ajax({ url: "/featured", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".featured")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
            })

        $.ajax({ url: "/starters", method: "GET" })
            .then(function (result) {
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".starters")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
            })

            $.ajax({ url: "/salads-soups", method: "GET" })
            .then(function (result) {
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".salads-soups")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
            })

            $.ajax({ url: "/steaks", method: "GET" })
            .then(function (result) {
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".steaks")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
            })

            $.ajax({ url: "/sides", method: "GET" })
            .then(function (result) {
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".sides")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
            })

            $.ajax({ url: "/desserts", method: "GET" })
            .then(function (result) {
                for (i = 0; i < result.length; i++) {
                    var menuItem = $(".desserts")
                    var itemTitle = $("<div class='mt-0 mb-1'>");
                    itemTitle.append(
                        $("<h3>").text(result[i].name).addClass("colorTitle")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("marginMenu")
                    )

                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc)

                }
            })
    }

    // for (var i = 0; i < result.length; i++) {

    //     var table = $(".featured")

    //     var listTitle = $("<div class='mt-0 mb-1'>");

    //     listTitle.append(
    //         $("<h1>").text(result[i].name)
    //     );

    //     table.append(listTitle);
    // }
    runTableQuery();
</script>
<script src="js/index.js"></script>

</html>