<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    <title>Document</title>
</head>

<body>


    <div class="sidebar">
        <img class="Alogo" src="images/Alogogradient.png">
        <img class="logo" src="images/Textlogo.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="/">
                <li>
                    <div class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="menu">
                <li>
                    <div class="sidebarText">OUR MENU</div>
                </li>
            </a>
            <a href="reservations">
                <li>
                    <div class="sidebarText">RESERVATIONS</div>
                </li>
            </a>
            <a href="order">
                <li class="selected-order">
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="signup">
                <li>
                    <div class="sidebarSpecials">Sign Up / Log in</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="main-container">
        <img class="mainmenu-image" src="images/topImage.jpg">
        <div class="main-topcontent">

            <div class="row">
                <div class="col">
                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link order-links featured-attr" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <h4 class="order-hover" onclick="featured()">Featured <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"> </h4>
                                    </button>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body featured">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link starters-attr order-links" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">
                                        <h4 onclick="starters()">Starters <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"></h4>
                                    </button>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body starters">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link salads-soups-attr order-links" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                        <h4 onclick="saladssoups()">Soups & Salads <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"></h4>
                                    </button>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body salads-soups">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link steaks-attr order-links" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour">
                                        <h4 onclick="steaks()">Steaks <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"></h4>
                                    </button>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body steaks">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link sides-attr order-links" type="button"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive">
                                        <h4 onclick="sides()">Sides <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"></h4>
                                    </button>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body sides">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion accordionEdit" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h2 class="mb-0">
                                    <button class="btn btn-link desserts-attr order-links" type="button"
                                        data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                        aria-controls="collapseSix">
                                        <h4 onclick="desserts()">Desserts <img style="width: 12px;"
                                                src="../images/drop-down-arrow.png"></h4>
                                    </button>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordionExample">
                                <div onclick="select()" class="card-body desserts">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="order-box shadow-lg p-3 mb-5 bg-white rounded text-center">
                        <h4>Order List</h4>
                        <hr>
                        <div id="clickedOrders">
                            <div class="order-listempty">Add an item to your order!</div>
                            <div id="order-list">


                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary order-submitbtn">Submit Order</button>
                            <button type="button" class="btn btn-light order-empty">Empty</button>



                        </div>
                        <div class="alert alert-success order-success text-center" role="alert">Order submitted!</div>
                        <div class="alert alert-danger order-success text-center" role="alert">Please add an item!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


</body>
<script>
    $(".order-success").hide();

    $(".order-submitbtn").click(function () {
        if (order_items.length === 0) {
            $(".alert-danger").show();
            setTimeout(function () {
            $(".alert-danger").fadeOut();
        }, 3000);
    }
})

    $(".order-submitbtn").click(function () {
        if (order_items.length > 0) {
        $(".alert-success").show();

        setTimeout(function () {
            $('.order-success').fadeOut();
            order_items.splice(this);
        $("#order-list").empty();
        $(".order-listempty").show();
        }, 3000);
    }
    })


    var order_items = [];
    var cpt = 0;
    function select() { $(".order-listempty").hide(); }

    function featured() {
        $.ajax({ url: "/featured", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".featured");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);
                }

                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.featured-attr').attr('aria-expanded') === "false") {
                    $(".featured").empty();
                }
            })
    }



    function starters() {
        $.ajax({ url: "/starters", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".starters");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);
                }
                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.starters-attr').attr('aria-expanded') === "false") {
                    $(".starters").empty();
                }
            })
    }
    function saladssoups() {
        $.ajax({ url: "/salads-soups", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".salads-soups");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.salads-soups-attr').attr('aria-expanded') === "false") {
                    $(".salads-soups").empty();
                }
            })
    }

    function steaks() {
        $.ajax({ url: "/steaks", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".steaks");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);

                }
                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.steaks-attr').attr('aria-expanded') === "false") {
                    $(".steaks").empty();
                }
            })
    }

    function sides() {
        $.ajax({ url: "/sides", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".sides");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);
                }
                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.sides-attr').attr('aria-expanded') === "false") {
                    $(".sides").empty();
                }
            })
    }

    function desserts() {
        $.ajax({ url: "/desserts", method: "GET" })
            .then(function (result) {

                // Here we then log the tableData to console, where it will show up as an object.
                for (i = 0; i < result.length; i++) {
                    var price = $("<h5>").text(result[i].price).addClass("priceEdit");
                    var menuItem = $(".desserts");
                    var itemTitle = $("<div>");
                    itemTitle.append(
                        $("<h4>").text(result[i].name).addClass("order-TitleEdit")
                    );
                    var itemDesc = $("<div>");
                    itemDesc.append(
                        $("<h6>").text(result[i].description).addClass("order-DescEdit")
                    )
                    menuItem.append(price);
                    menuItem.append(itemTitle);
                    menuItem.append(itemDesc);
                }
                $(".order-TitleEdit").click(function () {
                    order_items.push(this.innerText);
                    var e = "";
                    for (var y = 0; y < order_items.length; y++) {
                        e += "<div>" + order_items[y] + "</div>" + "<br/>";
                    }
                    document.getElementById("order-list").innerHTML = e;
                })
                // $("#order-list").click(function () {
                //     // order_items.splice()
                // })

                $(".order-empty").click(function () {
                    order_items.splice(this);
                    $("#order-list").empty();
                    $(".order-listempty").show();
                })

                if ($('.desserts-attr').attr('aria-expanded') === "false") {
                    $(".desserts").empty();
                }
            })
    }


</script>
<script src="js/index.js"></script>

</html>