<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Reservation</title>
</head>


<body>
    <div class="sidebar">
        <img class="Alogo" src="images/Alogogradient.png">
        <img class="logo" src="images/Textlogo.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="/">
                <li>
                    <div class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="menu">
                <li>
                    <div class="sidebarText">OUR MENU</div>
                </li>
            </a>
            <a href="reservations">
                <li class="selected">
                    <div class="sidebarText selected">RESERVATIONS</div>
                </li>
            </a>
            <a href="order">
                <li>
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="signup">
                <li>
                    <div class="sidebarSpecials">Sign Up</div>
                </li>
            </a>
            <a href="login">
                <li>
                    <div class="sidebarSpecials">Log In</div>
                </li>
            </a>
        </ul>
    </div>


    <div class="main-container">
        <img class="mainmenu-image" src="images/topImage.jpg">
        <div class="main-topcontent">
            <h1 style="font-size: 45px">Altitude Reservations</h1>
            <h5 style="color: rgb(179, 151, 118);">Prime Steakhouse & Wine Bar</h5>
            <hr class="hrContent">


            <!-- FORM START -->
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="field">
                            <label class="name">Name</label>
                            <div class="control">
                                <input class="form-control formEdit input res-name" type="text" placeholder="Required">
                            </div>
                        </div>



                        <div class="field">
                            <label class="label">Phone Number</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="form-control formEdit input is-danger res-phone" type="input"
                                    placeholder="555-555-555" value="">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Party Size</label>
                            <div class="control">
                                <div class="select">
                                    <select class="formEdit res-party">
                                        <option>Select dropdown</option>
                                        <option>1 </option>
                                        <option>2 </option>
                                        <option>3 </option>
                                        <option>4 </option>
                                        <option>5 </option>
                                        <option>6 </option>
                                        <option>7 </option>
                                        <option>8 </option>
                                        <option>9 </option>
                                        <option>10+</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Message</label>
                            <div class="control">
                                <textarea class="form-control formEdit textarea res-message"
                                    placeholder="Optional..."></textarea>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="btn btn-primary button is-link res-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- FORM END -->
                    <div class="col">
                        <div class="reservation-set text-center shadow-lg p-3 mb-5 bg-white rounded">
                            <h2 class="res-title">Reservation Set!</h2>
                            <h6 class="res-subtext">We will let you know when your table is ready!</h6>
                        </div>
                        <div class="reservation-set text-center shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="res-details">Reservation Details</h5>
                            <hr>
                            <div class="res-detailsinfo text-center">
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</body>
<script>
    $(".res-submit").click(function () {
        var form_name = $(".res-name").val();
        var form_phone = $(".res-phone").val();
        var form_party = $(".res-party").val();
        var form_message = $(".res-message").val()

        var details = $(".res-detailsinfo");

        details.append("Name: " + form_name + "<br>");
        details.append("Phone: " + form_phone + "<br>");
        details.append("Party Size: " + form_party + "<br>");
        details.append("Message: " + form_message + "<br>");


    //     function signUpUser(email, password) {
    // $.post("/reservations", {
    //     name: form_name,
    //     email: form_phone,
    //     party: form_party,
    //     message: form_message
    // })
    //   .then(function(data) {
    //       console.log("Submitted!")
    //     window.location.replace("/");
    //   })
    // }
        $.ajax({
            url: 'reservations',
            method: 'POST',
            data: {
                name: form_name,
                phone: form_phone,
                party: form_party,
                message: form_message
            },
            success: function (data) {
                alert(data);
            }
        });
    })



</script>
<script src="js/index.js"></script>

</html>