<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Merriweather+Sans|Roboto:500&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="sidebar">
        <img class="logo" src="images/logoheader.png">
        <hr class="hrColor">
        <ul class="menubar text-center">
            <a href="/">
                <li class="selected">
                    <div href="#" class="sidebarText">HOME</div>
                </li>
            </a>
            <a href="menu">
                <li>
                    <div class="sidebarText">Our Menu</div>
                </li>
            </a>
            <a href="reservations">
                <li>
                    <div class="sidebarText">RESERVATIONS</div>
                </li>
            </a>
            <a href="order">
                <li>
                    <div class="sidebarOrderOnline">ORDER ONLINE</div>
                </li>
            </a>
            <a href="signup">
                <li>
                    <div class="sidebarSpecials">Sign Up</div>
                </li>
            </a>
        </ul>
    </div>
    <div class="main-container">
        <img class="mainmenu-image" src="images/topImage.jpg">
        <div class="main-topcontent">
            <h1 style="font-size: 45px">Altitude Reservations</h1>
            <h5 style="color: rgb(179, 151, 118);">Prime Steakhouse & Win Bar</h5>
            <hr class="hrContent">


            <!-- FORM START -->
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Required">
                </div>
            </div>



            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="input" placeholder="555-555-555" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Party Size</label>
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>1 </option>
                            <option>2 </option>
                            <option>3 </option>
                            <option>4 </option>
                            <option>5 </option>
                            <option>6 </option>
                            <option>7 </option>
                            <option>8 </option>
                            <option>9 </option>
                            <option>10+</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Optional..."></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
            </div>
            <!-- FORM END -->



            <div class="main-experience">
                <h1 style="font-size: 45px">The Altitude Experience</h1>
                <hr class="hrContent">
                <p class="main-experienceText">The luxurious experience of dining at Altitude begins before you even
                    enter the restaurant. Guests are greeted curbside by our valet, and a walk down a red carpet leads
                    into the restaurant. Once inside, lavish six-foot chandeliers draw the eye towards the ceiling, and
                    the leather-embossed walls display classically inspired artwork and black and white family
                    photographs. Marble embossed floors provide an elegant touch to the decor.</p>
            </div>
            <div class="main-OurMenuBackground">
                <div class="main-OurMenu text-center">
                    <h1 class="text-center">View Our Menu</h1>
                    <button type="button" class="btn btn-outline-light main-ViewMenuBtn">Menu</button>
                </div>
            </div>
            <br>
        </div>
    </div>


</body>
<script src="js/index.js"></script>

</html>