/* --| Content Box - Line 130 |-- */
/* --| Experience - Line 200 |-- */
/* --| Menu - Line 285 |-- */
/* --| Reservations - Line 450 |-- */


html {
  background-color: #2A2C30;
}

body {
  background-color: rgb(59, 59, 63);
  overflow-x: hidden;
  height: auto;
}

.sidebar {
  z-index: 2;
  position: fixed;
  width: 320px;
  min-height:100vh;
  background-color: #2A2C30;
}

.sidebar::after {
    box-shadow: 10px 0 10px -10px inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
}

.sidebarText {
  color: white;
  font-size: 15px;
}
.sidebarText:hover {
  color: rgb(179, 151, 118);
}

.sidebarOrderOnline {
  color: rgb(201, 85, 85);
  font-size: 15px;
}
.sidebarSpecials {
  color: rgb(201, 150, 85);
  font-size: 15px;
}

/* .logo {
  margin-left: 5%;
  margin-top: 25%;
  margin-bottom: 5%;
  width: 275px;
  height: 200px;
} */

.logo {
  margin-left: 10%;
  margin-top: 9%;
  margin-bottom: 5%;
  width: 260px;
  height: 80px;
}

.Alogo {
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 0%;
  width: 130px;
  height: 130px;
}

.hrColor {
  background-color: #808080;
  width: 70%;
}

a {
  display: contents;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

li {
  list-style: none;
  line-height: 50px;
  border-top-width: 0.5px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: rgb(54, 56, 59);
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
}


li.selected {
  margin-left: 4px;
  border-right-width: 4px;
  border-right-color: rgb(179, 151, 118);
}

li.selected-order {
  margin-left: 4px;
  border-right-width: 4px;
  border-right-color: rgb(201, 85, 85);
}

.selected {
  color: rgb(179, 151, 118);
}

ul {
  display: inline;
}






/* -- Content Box -- */
.main-container {
  margin-left: 320px;
  height: auto;
  background-color: rgb(59, 59, 63);
}

.mainmenu-image {
  height: 300px;
  width: 100%;
}

.main-topcontent {
  letter-spacing: 1px;
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 5%;
  margin-left: 5%;
  display: grid;
}

.main-topcontentText {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.mainmenu-sideImage1 {
  position: absolute;
  right: 0%;
  display: inline;
  top: 300px;
}
.mainmenu-sideImage2 {
  position: absolute;
  right: 0%;
  display: inline;
  top: 575px;
}
.mainmenu-sideImage3 {
  z-index: 0;
  position: absolute;
  right: 560px;
  display: inline;
  top: 575px;
  height: 284px;
  width: 560px;
}
.mainmenu-sideImage4 {
  position: absolute;
  right: 0px;
  display: inline;
  top: 575px;
  height: 284px;
  width: 560px;
}

.hrContent {
  background-color: #808080;
  width: 20%;
  left: 0%;
  margin-left: 0px;
  margin-left: 0px;
}

.main-imagecontainer {
  height: 310px;
}


/* -- Experience -- */
.main-experience {
  background-color: #2A2C30;
  margin-left: -60px;
}

.main-experienceBackground {
  height: 500px;
  background-image: url(../images/index-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-experienceTitle {
  margin-top: 50px;
  margin-left: 60px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px; /* Some padding */
  height: 95px;
  margin-right: 5%;
}
.main-experienceText {
  letter-spacing: 1px;
  color: rgb(179, 151, 118);
  margin-bottom: 5%;
  margin-left: 60px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  color: rgb(179, 151, 118);
  
  font-size: 18px;
  padding: 20px; /* Some padding */
  height: 165px;
  margin-top: -8px;
  margin-right: 5%;
}

.main-ViewMenuBtn {
  margin-top: 2.5%;
  width: 30%;
}

.main-menuText {
  padding-top: 100px;
}

.main-OurMenuBackground {
  margin-left: 50px;
  margin-top: 10%;
  background-image: url(../images/index-menu.jpg);
  height: 380px;
  width: 500px;
  border-radius: 30px;
}

.main-SetReservation {
  margin-right: 10%;
}

.main-reserveText {
  padding-top: 100px;
}

.main-SetReservationBackground {
  box-shadow: 5px 10px 8px #888888;
  margin-top: 10%;
  margin-bottom: 10%;
  background-image: url(../images/index-reservation.jpg);
  height: 380px;
  width: 500px;
  margin-left: -2.5%;
  border-radius: 30px;
}

.rowBackground {
  background-color: rgb(35, 37, 41);
  margin-left: -55px;
}



/* -- Menu --*/
.menu-background {
  background-color: rgb(35, 37, 41);
  margin-left: -55px;
  height: auto;
}

.menu-textadjustment {
  margin-top: 2%;
  margin-left: 55px;
}

.menu-topimage {
  height: 300px;
  width: 100%;
}

.limenu {
  border-top-width: 0px;
}

.descEdit {
  font-family: sans-serif;
  margin-bottom: 30px;
}

.priceEdit {
  position: absolute;
  margin-left: -45px;
}

.colorTitle {
  color: rgb(179, 151, 118);
}

.menu-hr {
  background-color: #808080;
  width: 20%;
  margin-left: 0px;
  margin-top: 0px;
}

.menu-items1 {
  position: absolute;
  right: 5%;
  width: 360px;
  height: 270px;
}
.menu-items2 {
  position: absolute;
  right: 5%;
  top: 620px;
  width: 360px;
  height: 270px;
}
.menu-items3 {
  position: absolute;
  right: 5%;
  top: 890px;
  width: 360px;
  height: 270px;
}
.menu-items4 {
  position: absolute;
  right: 5%;
  top: 1160px;
  width: 360px;
  height: 270px;
}
.menu-items5 {
  position: absolute;
  right: 5%;
  top: 1430px;
  width: 360px;
  height: 270px;
}
.menu-items6 {
  position: absolute;
  right: 5%;
  top: 1700px;
  width: 360px;
  height: 270px;
}
.menu-items7 {
  position: absolute;
  right: 5%;
  top: 1970px;
  width: 360px;
  height: 270px;
}
.menu-items8 {
  position: absolute;
  right: 5%;
  top: 2240px;
  width: 360px;
  height: 270px;
}
.menu-items9 {
  position: absolute;
  right: 5%;
  top: 2510px;
  width: 360px;
  height: 270px;
}
.menu-items10 {
  position: absolute;
  right: 5%;
  top: 2780px;
  width: 360px;
  height: 270px;
}

.sticky-order {
  transition: all .2s ease-in-out;
  z-index: 9999;
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 15px;
  width: 300px;
  height: 100px;
  background-color: white;
  color: black;
  line-height: 100px;
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(207, 207, 207);
}

.sticky-order:hover {
  transform: scale(1.03);
}

.sticky-call {
  transition: all .2s ease-in-out;
  z-index: 9999;
  position: fixed;
  bottom: 9%;
  right: 24%;
  border-radius: 15px;
  width: 120px;
  height: 45px;
  color: white;
  line-height: 50px;
  background-color: rgb(179, 151, 118);
}

.sticky-call:hover, .sticky-email:hover {
  color: rgb(196, 196, 196);
  background-color: rgb(163, 136, 105);
}

.sticky-email {
  transition: all .2s ease-in-out;
  z-index: 9999;
  position: fixed;
  bottom: 2%;
  right: 24%;
  border-radius: 15px;
  width: 120px;
  height: 45px;
  color: white;
  line-height: 50px;
  background-color: rgb(179, 151, 118);
}







/* --| Reservations |-- */
  .formEdit {
    width: 100%;
    margin-bottom: 20px;
  }

  .reservation-set {
    width: 95%;
  }

  .res-title, .res-subtext, .res-details {
    color: #2A2C30;
  }

  .res-detailsinfo {
    color: #2A2C30;
  }

  .bold {
    font-size: 30px;
  }

  .order-links {
    color: #2A2C30;
  }

  .order-links:hover, .order-links:visited, .order-links:hover, .order-links:visited {
    color: #2A2C30;
    text-decoration: underline;
    text-decoration-color: #2A2C30;
  }





/* --| Order Online |-- */
  .accordionEdit {
    width: 130%;
  }

  .card-body {
    margin-bottom: -20px;
  }

  .order-starters {
    color: #2A2C30;
  }

  .order-TitleEdit {
    line-height: 5px;
    color: rgb(179, 151, 118);
  }
  
  .order-DescEdit {
    color: #2A2C30;
    font-family: sans-serif;
    margin-bottom: 20px;
  }

.order-box {
  border-radius: 10px;
  color: #2A2C30;
  position: absolute;
  width: 60%;
  right: 10%;
  height: auto;
}

#clickedOrders {
  font-size: 13px;
}

#dropdown {
  background-image: url(../images/drop-down-arrow.png)
}

h4 {
  color: #2A2C30;
}

.order-submitbtn {
  width: 70%;
}

.order-empty {
  background-color: rgb(214, 214, 214);
}

.res-party {
  height: 40px;
}

.order-success {
    position: relative;
    margin-top: 5%;
    margin-bottom: -5px;
}










@media screen and (max-width: 375px) {
html, body {
  width: 375px;
}

  .sidebar {
    display: none;
  }

  body {
    float: left;
  }

  .main-container {
    margin-left: 0px;
  }

  .container {
    width: 0%;
    padding-left: 0%;
    margin-left: 0%;
  }

  .main-OurMenuBackground {
    margin-left: -2.5%;
  }




}